<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("partials/head") %>

<body>
        <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/header") %>

      <main>
        <h1 class="title">Reminder App</h1>
        <h2 class="subtitle">Never forget anything important!!!</h2>
        <a href="/auth/signup"><button class="button">SIGNUP</button></a>
        <a href="/auth/login"><button class="button">LOGIN</button></a>
      </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
</body>

</html>