<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("partials/head") %>

<body>
        <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/header") %>
      <br><br><br><br>

      <main>
        <h1 class="title is-italic">Reminder App</h1>
        <p class="subtitle">Never Forget Anything!!!</p>
        <a href="/auth/signup"><button class="button is-info is-hoverable">SIGNUP</button></a>
        <a href="/auth/login"><button class="button is-primary is-hoverable">LOGIN</button></a>
      </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
</body>

</html>